@media screen and (max-width: 800px) {
    .content h1{
        font-size:4.5rem
    }
    .style-text {
        font-size: 0.9rem;
        text-align: center;
    }

    .descrip {
        width: 485px;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px){
    body::before{
        width: 100vw;
    }
    .content h1{
        font-size:4rem;
    }
    .descrip {
        width: 400px;
    }
    h2 {
        font-size: 2rem;
    }
    .events{
        flex-direction: column;
        align-items: center;
    }

    .events img {
        max-width: 80vw;
        margin-top: 35px;
    }
    
}